* {
  padding: 0;
  margin: 0;
}

#top {
  background-image: url('./imgs/bg_headpanel.jpg');
  color: white;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#username {
  text-align: center;
}

#top > p {
  color: #fff;
}

#modes {
  background-image: url('./imgs/bg_navcon.gif');
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding: 3px 0;
}

p {
  color: #11449e;
  font-size:14px;
  font-weight: bold;
}

#modes ul {
  display: flex;
  gap: 2vw;
  list-style: none;
  color: #11449e;
  font-size:14px;
  font-weight: bold;
  line-height: 1.2em;
}

#modes__selected {
 border-top: 1px solid #0c95d4;
 border-left: 1px solid #0c95d4;
 border-right: 1px solid #0c95d4; 
 padding: 3px;
 border-radius: 3px;
 margin: -3px;
 background-color: rgba(255, 255, 255, 0.6);
}

#modes__right {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  padding-right: 1.5vw;
}

#settings {
  background-image: url('./imgs/bg_ribbon.jpg');
  display: flex;
  gap: .5vw;
}

#basic__texts {
  display: flex;
}

#basic__texts__left {display: flex;
  border-right: .5px solid gray;
}

#icon {
  max-width: 5rem;
  text-align: center;
}

#icon:hover {
  background-color: orange;
  cursor: pointer;
}

#basic__texts__right {
  display: flex;
  flex-direction: column;
  gap: 2pt;
}

#select {
  width:fit-content;
  align-self: flex-end;
  height: 1.4pc;
}

#bottom__text {
  text-align: center;
  color: #576aaa;
  font-size: 12px;
  background-color: lightgray;
}

#flex {
  display: flex;
}

#nastaveni {
  max-width: 9vw;
}

#small {
  font-size: .75rem;
}

#metronom__input {
  width: 3vw;
  border: 1.5px solid black;
  outline: 1.5px solid black;
}

#title__div {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  text-align: center;
  background-image: url('https://www.atfonline.cz/css/imgrib/bg_infopanel.jpg');
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
}

#title {
  color: black;
  font-size: 1.2rem;
  font-weight: lighter;
}

#main {
  margin-top: 1rem;
  padding: 8vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 50%;
  border-radius: 2px;
}

.wrapper {
  display: flex;
  justify-content: center;
  background: #cddeee url('./img/bg.png') repeat-y scroll center;
  background-repeat: repeat-x;
  background-size: cover;
}

#container {
  width: 40vw;
}

#cur__text, #remaining__text, #wrong__count__bottom, #char__count__bottom {
  font-family: "Courier New";
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  color: rgb(0, 0, 128);
  line-height: 19.5pt;
  min-height: 1.5rem;
}


#text__input {
  margin: 2rem 0;
  border: none;
  outline: none;
  background-color:transparent;
  height:2.5rem;
  font-family: "Courier New";
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  width: 96vw;
}

#container {
  display: none;
}

#results {
  display: block;
}

.results__text {
  font-family: 'Courier New';
  color: black;
  font-size:20px;
  white-space: pre;
  font-weight: normal;
  font-style:normal;
  margin-right: 6rem;
}

.right {
  display: flex;
  justify-content: flex-end;
}

#wrong__count__bottom {
  display: block;
  position: absolute;
  left: 25%;
  color: red;
}

#char__count__bottom {
  display: block;
  position: absolute;
  right: 25%;
}